@font-face {
    font-family: 'AvenirLTStd-Book';
    src: url('fonts/2A4C81_0_0.eot');
    src: url('fonts/2A4C81_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/2A4C81_0_0.woff') format('woff'), url('fonts/2A4C81_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirLT-Heavy';
    src: url('fonts/2A4C81_1_0.eot');
    src: url('fonts/2A4C81_1_0.eot?#iefix') format('embedded-opentype'), url('fonts/2A4C81_1_0.woff') format('woff'), url('fonts/2A4C81_1_0.ttf') format('truetype');
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'AvenirLTStd-Book', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    display: table;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    display: table;
    width: 100%;
}

.header {
    display: table-row;
    height: 50px;
    background-color: #2882BE;
    padding: 20px 10px;
}

.main {
    height: 100%;
    display: table;
    width: 100%;
}

.box {
    display: table-cell;
}

.sidebar {
    width: 360px;
    padding: 10px 20px;
    background-color: #343D4E;
    color: #ccc;
}

.footer {
    display: table-row;
    height: 0px;
}

.content #map {
    position: absolute;
    bottom: 0;
    top: 60px;
    left: 400px;
    right: 0;
}

.logo,
.logo-text {
    float: left;
    padding: 20px 0;
    color: white;
    font-size: 17px;
}

.logo {
    padding: 20px;
    height: 25px;
    margin-top: -4px;
}

.legend {
    height: 200px;
    padding: 20px 0;
}

.layer-switcher {
    background-color: white;
    width: 300px;
    height: 30px;
}

.layer-toggle {
    width: 149px;
    float: left;
    padding: 4px 10px;
    cursor: pointer;
}

.layer-toggle.active {
    background-color: #343D4E;
    color: white;
}

h1 {
    font-size: 21px;
    color: white;
}

hr {
    border-color: #5B616F;
    border-style: solid;
}

a,
a:hover,
a:visited {
    color: #4BD0FF;
    text-decoration: none;
}

.data-grid-layer {
    position: absolute;
}

emph {
    color: white;
    font-weight: bold;
}


/*.wrapper {
    height: 100%;
    display: table;
    width: 100%;
    text-align: center;
}

header {
    display: table-row;
    background: @yellow;
    height: 50px;
    background-color: #2882BE;
    padding: 24px 0 0 12px;
}

.content {
    height: 100%;
    display: table;
    width: 100%;
}

.content #map {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 400px;
    right: 0;
}

.data-grid-layer {
    position: absolute;
}

.nav {
    background-color: #343D4E;
    /*flex: 0 0 12em;*/


/*order: -1;*/


/*min-width: 340px;
padding: 20px 30px;

}*/


/*.nav h1 {
    min-width: 340px;
    padding: 20px 30px;
    color: #ccc;
}
.nav emph {
    color: white;
    font-weight: bold;
    font-size: 1em;
}
.legend {
    height: 200px;
    padding: 20px 0;
}
footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}*/


/*footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.minimap {
    width: 300px;
}*/


/*.logo {
    padding: 20px;
}*/


/*.content .title {
    font-family: Helvetica;
    font-size: 32px;
    color: white;
    padding: 20px;
}

.content .text {
    font-family: Helvetica;
    font-size: 20px;
    color: white;
    padding: 20px;
}*/


/*#wrapper {
    min-height:100%;
    position:relative;
}
#header {
    height: 50px;
    background-color: #2882BE;
    padding: 24px 0 0 12px;
}
#content {
    padding-bottom:50px;
    margin: 20px auto;
    position: absolute;
    background-color: red;
    top: 60px;
    bottom: 0;
    left: 400px;
    right: 0;
}
#footer {
    width:100%;
    height:20px;
    position:absolute;
    bottom:0;
    left:0;
    text-align: center;
}*/
