div, header, footer, nav {
    /*border: 1px solid silver;*/
}
body {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
}
h1 {
    color: gray;
}

/* layout */

#main {
    min-height: 800px;
    padding: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}
#main > article {
    padding: 0 45px;
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    -webkit-order: 2;
    order: 2;
}
#main > nav {
    padding: 25px;
    -webkit-flex: 1 6 100px;
    flex: 1 6 100px;
    -webkit-order: 1;
    order: 1;
    min-width: 300px;
}
#main > aside {
    padding: 25px;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 3;
    order: 3;
}
header, footer {
    display: block;
    padding: 5px;
}
header {
    text-align: center;
}
footer {
    min-height: 20px;
    padding-top: 20px;
    text-align: center;
    color: silver;
}
.content-wrapper {
    max-width: 1000px;
    margin: 20px auto;
}
@media all and (max-width: 640px) {
    #main, #page {
        -webkit-flex-flow: column;
        flex-direction: column;
    }
    #main > article, #main > nav, #main > aside {
        -webkit-order: 0;
        order: 0;
    }
}

/* map */

.map-container {
    border: 1px silver solid;
}
.map .panel-background {
    display: none;
}
.map .graticule, .equator {
    stroke: #eee;
    stroke-opacity: 0.6;
}
.map .country {
    fill: transparent;
    stroke: #aaa;
}
.map .polygon {
    fill: skyblue;
    fill-opacity: 0.3;
    stroke: skyblue;
    stroke-width: 1px;
    stroke-opacity: 1;
}
.map .tooltip {
    fill: black;
    font-weight: bolder;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

/* page */

header{
    border-bottom: 1px solid silver;
}

/* variable list */

.variable-wrapper {
    height: 400px;
    overflow: auto;
    border: 1px solid silver;
}
.variable-container {
    padding: 20px 20px;
    width: 1000px;
    margin: 0 auto;
}
.variable-container .variable-element {
    padding: 10px;
}
.variable-container .variable-element a {
    color: black;
}
.variable-container .message {
    font-size: 11px;
    color: grey;
}

/* charts */

.piper-chart {
    font-size: 9px;
}

.piper-chart .hover-line {
    background-color: black;
}

.piper-chart .tooltip {
    font-size: 8px;
    background-color: white;
    border: 1px solid white;
    opacity: 1;
    margin-left: 2px;
    padding: 3px;
    border-radius: 0px 10px 10px 10px;
}

.piper-chart .shape {
    fill: #FBC65A;
    fill-opacity: 0.3;
    stroke: #FBC65A;
    stroke-width: 1px;
}

.piper-chart .grid-line-x {
    background-color: silver;
}

.piper-chart .axis-y {
    border: none;
}

.piper-chart .domain {
    fill: none;
    stroke: black;
}

.piper-chart .tick line {
    stroke: black;
}

.piper-chart .tooltip-line {
    stroke: silver;
}
